@model LIEA_System.Models.Compra

@{
    ViewData["Title"] = "Create";
}
<h1 class="alert-secondary text-center">Comprar</h1>


<div class="float-lg-start">
    <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
</div>
<h4 class="text-center">Realiza tu compra</h4>

<hr />

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-12">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="Fecha_Compra" class="control-label"></label>
                <input asp-for="Fecha_Compra" class="form-control" type="date" readonly />
                <span asp-validation-for="Fecha_Compra" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Hora_Compra" class="control-label"></label>
                <input asp-for="Hora_Compra" class="form-control" type="time" readonly />
                <span asp-validation-for="Hora_Compra" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Id_Proveedor" class="control-label"></label>
                <select asp-for="Id_Proveedor" class="form-control" asp-items="ViewBag.Id_Proveedor"></select>
            </div>

            <div class="col-md-12">
                <div class="col-md-12"></div>
                <h4 class="alert alert-dark text-center">Detalles de Compra</h4>
                <div class="float-lg-start">
                    <button type="submit" class="btn btn-outline-success">Comprar</button>
                </div>
                <div class="float-lg-end">
                    <button type="button" class="btn btn-outline-dark" onclick="addRow()">Agregar Producto</button>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="detallesCompra">
                        <tr>
                            <td>
                                <select name="DetallesCompra[0].Id_Producto" class="form-control">
                                    @foreach (var producto in ViewBag.Productos)
                                    {
                                        <option value="@producto.Id_Producto">@producto.Nombre</option>
                                    }
                                </select>
                            </td>
                            <td><input type="number" name="DetallesCompra[0].Cantidad" class="form-control cantidad" oninput="calculateTotal(this)" /></td>
                            <td><input type="number" name="DetallesCompra[0].P_Unitario" class="form-control precio" oninput="calculateTotal(this)" /></td>
                            <td><input type="text" name="DetallesCompra[0].Total" class="form-control total" readonly /></td>
                            <td><button type="button" class="btn btn-danger" onclick="removeRow(this)">Eliminar</button></td>
                        </tr>
                    </tbody>
                </table>


                <br />


            </div>


            
        </form>
    </div>
</div>






@section Scripts {
    <script type="text/javascript">
        function calculateTotal(element) {
            var row = element.closest('tr');
            var cantidad = parseFloat(row.querySelector('.cantidad').value) || 0;
            var precio = parseFloat(row.querySelector('.precio').value) || 0;
            var total = cantidad * precio;
            row.querySelector('.total').value = total.toFixed(2);
        }

        function addRow() {
            var rowCount = $('#detallesCompra tr').length;
            var newRow = `<tr>
                        <td>
                            <select name="DetallesCompra[${rowCount}].Id_Producto" class="form-control">
        @foreach (var producto in ViewBag.Productos)
        {
                                        <option value="@producto.Id_Producto">@producto.Nombre</option>
        }
                            </select>
                        </td>
                        <td><input type="number" name="DetallesCompra[${rowCount}].Cantidad" class="form-control cantidad" oninput="calculateTotal(this)" /></td>
                        <td><input type="number" name="DetallesCompra[${rowCount}].P_Unitario" class="form-control precio" oninput="calculateTotal(this)" /></td>
                        <td><input type="text" name="DetallesCompra[${rowCount}].Total" class="form-control total" readonly /></td>
                        <td><button type="button" class="btn btn-danger" onclick="removeRow(this)">Eliminar</button></td>
                    </tr>`;
            $('#detallesCompra').append(newRow);
        }

        function removeRow(button) {
            $(button).closest('tr').remove();
            updateTotals();
        }

        function updateTotals() {
            $('#detallesCompra tr').each(function () {
                calculateTotal(this.querySelector('.cantidad'));
            });
        }
    </script>
}