@{
    ViewData["Title"] = "Home Page";
}

<!-- Carrusel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Primera imagen">
            <div class="carousel-caption d-none d-md-block">
                <h5>Primera imagen</h5>
                <p>Descripción de la primera imagen.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Segunda imagen">
            <div class="carousel-caption d-none d-md-block">
                <h5>Segunda imagen</h5>
                <p>Descripción de la segunda imagen.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Tercera imagen">
            <div class="carousel-caption d-none d-md-block">
                <h5>Tercera imagen</h5>
                <p>Descripción de la tercera imagen.</p>
            </div>
        </div>
        <!---->
        <div class="carousel-item">
            <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Cuarta imagen">
            <div class="carousel-caption d-none d-md-block">
                <h5>Cuarta imagen</h5>
                <p>Descripción de la tercera imagen.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Quinta imagen">
            <div class="carousel-caption d-none d-md-block">
                <h5>Quinta imagen</h5>
                <p>Descripción de la tercera imagen.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Sexta imagen">
            <div class="carousel-caption d-none d-md-block">
                <h5>Sexta imagen</h5>
                <p>Descripción de la tercera imagen.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Septima imagen">
            <div class="carousel-caption d-none d-md-block">
                <h5>Sepatima imagen</h5>
                <p>Descripción de la tercera imagen.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>
