@{
    ViewData["Title"] = "Mision, Vision y Objetivos";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mision</h5>
                    <p class="card-text">Vestir a nuetros clientes con uns slts variedad de productos de moda exclusivos con calidad y aprecios accesibles a traves de sus diseño, produccion y comercializacion, consiguiendo uns rentabilidad adecuando y mejorando la clidad de vida de nuestros colaboradores. Basandonos en principios de etica, genernaod relaciones duraderas y de confianza con nuestros clientes, proveedores y empleados. Todo esto cumpliendo cablamente con obligaciones sociales y el medio ambiente</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vision</h5>
                    <p class="card-text">Ser referente de moda del cliente para vestirse y sentirse bien, viviendo uns experiencia unica a traves de un equipo capacitado y preparado, que impulse una solida proyeccion  futuro en cada uno de los segmentos de mercado donde participemos y ser una tienda lider en el ramo para ser capaz de competir en el mercado</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Valores</h5>
                    <p class="card-text">1.-ofrecer ropa de mejor calidad satisfaciendo las necesidades y gusto del mercado potencial, vender ropa a la moda que cumpla con los requerimientos de estilo en el segmento del mercado </p> <hr />
                    <p>2.-Posicionarse como la tienda donde se pueda adquirir ropa de todos los generos y de cualquier estilo</p> <hr />
                    <p>3.-Establecer como politica de venta y poder ofrecer precios accesibles por comprar al mayor y al menor, permitiendo visualizar margenes de ganancia</p>
                </div>
            </div>
        </div>
    </div>
</div>
